@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@400;500;700&display=swap');

$pink-primary: #F9C7F2;
$pink-primary-hover: #e0b3d9;

/*
font-family: 'Montserrat',sans-serif;
font-family: 'Playfair Display',serif;
*/